/* ADMIN*/

.table {
    background-color: #8aacb8ed;
    border: solid 1px blue;
    padding: 15px;
    margin: 10px;
    max-height: 600px;
    overflow-y: scroll;
}

tr,
th,
td {
    background-color: aliceblue;
    padding: 15px;
    margin: 10px;
    border: solid 1px blue;
}

td {
    color: blue;
    width: 400px;
}

td:first-child {
    width: 220px;
}


/* overrides */

#info {
    height: 150px;
    padding: 5px;
}

#editSpace h6 {
    font-size: 1.2em;
}

button.t {
    min-width: 140px;
    max-width: 140px;
    margin-bottom: 3px;
}

button.t.a {
    min-width: 90px;
    max-width: 80px;
    margin-bottom: 3px;
}

input.t {
    max-width: 50px;
    float: left;
}

button.btn-eval {
    max-width: 100px;
}

#showReason {
    display: none;
}

#msg {
    color: green;
    font-weight: bold;
    background-color: #8aacb8ed;
}
/*navbar font */
navbar-default .navbar-nav > li > a {
	color:#161212 !important;
}