<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts :: header}">

	<style>
		.navbar {
			margin-bottom: 0;
			border-radius: 0;
		}

		.row.content {
			height: 450px
		}

		.sidenav {
			padding-top: 20px;
			background-color: #f1f1f1;
			height: 100%;
		}
	.table td, .table th {
		padding: 0.05rem;
		margin:0.05rem;
		font-size: small;
	}
	</style>

</head>

	<nav th:replace="~{layouts :: navbar}"></nav>

<body>



<div class="container">

	<h3>Chains</h3>
	<a th:text="${versionNumber}"></a>


		<h4> Chains </h4>
 <hr />
		<div class="row">
			<div class="col-md-6">
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th> Name </th>
							<th> ChainId</th>
							<th> Category</th>
							<th> BlockUrl</th>

							<th> Symbol</th>
							<th> Desc.</th>
							<th> Id</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="aChain : ${chains}">
							<td th:text="${aChain.name}"/>
							<td th:text="${aChain.getChainId()}"/>
							<td th:text="${aChain.getCategory()}"/>
							<td th:text="${aChain.getBlockExplorerUrl()}"/>

							<td th:text="${aChain.getSymbol()}"/>
							<td th:text="${aChain.getDescription()}"/>
							<td th:text="${aChain.getId()}"/>f
						</tr>

					</tbody>

				</table>
			</div>


			<div class="col-md-4">
<!--				<canvas id="myPieChart" height="50" width="50"></canvas>-->

<!--				<script>-->
<!--					var chartData = "[[${dataCat}]]"-->
<!--				</script>-->

			</div>

		</div>
		<h4> Current Users By Chains </h4>
<hr />
		<div class="row">
			<div class="col-md-6">
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th> First Name </th>
							<th> Last Name </th>
							<th> Chain Count </th>
						</tr>

<!--		<tr th:each="aUserProjectCnt : ${userChainCnt}">&ndash;&gt;-->
<!--			<td th:text="${aUserProjectCnt.getFirstName()}"/>-->
<!--			<td th:text="${aUserProjectCnt.getLastName()}"/>-->
<!--			<td th:text="${aUserProjectCnt.getLabel()}"/>-->
<!--			<td th:text="${aUserProjectCnt.getValue()}"/>-->
<!--		</tr>-->

					</tbody>

				</table>
			</div>
		</div>
</div>
<!--<script type="text/javascript" th:src="@{js/pieChairt.js}"></script>-->

</body>
</html>